.register,
.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-page {
    width: 60%;
    height: 100vh;
    background-image: url("/src/images/cinema.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.info-div {
    height: auto;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px 70px;
}

.info-title {
    margin-bottom: 15px;
}

.right-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    height: 100vh;
}

.logo-div {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px;
    margin-bottom: 100px; */
}

.logo {
    cursor: pointer;
}

.form-div {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    border-radius: 25px;
    box-shadow: 1px 3px 10px;
    padding: 25px 0px;
    margin-top: 65px;
}

.input-div {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-div {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 8px;
}

button {
    border-radius: 20px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    font-weight: 550;
}

button:hover {
    transition: transform 0.1s steps(10, end);
    transform: scale(1.02);
}

.submit {
    background-color: black;
    color: #fff;
    width: 150px;
}

.reset {
    background-color: rgb(255, 255, 255);
    color: #000000;
    width: 120px;
}

.login-button,
.register-button {
    border: none;
    color: #000000;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
}

.check-div {
    width: 300px;
    margin-bottom: 15px;
}

.check-input {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.check-error {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
}

.error-span {
    color: rgb(189, 0, 0);
}

.css-rizt0-MuiTypography-root {
    font-size: 14px !important;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root {
    margin-left: 10px !important;
    padding: 0px !important;
}