* {
    font-family: Arial, Helvetica, sans-serif;
}

.basket-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

.mainBasket * {
    box-sizing: border-box;
}

.mainBasket {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.titleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px 0px;
}

.eventName,
.personCount,
.priceDiv,
.deleteEvent {
    text-align: center;
}

.eventName {
    width: 450px;
    display: block;
}

.personCount {
    width: 100px;
}

.priceDiv,
.deleteEvent {
    width: 75px;
}

.eventImgAndTitleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 25px;
}

.basketImg,
.basketAmount-title {
    margin-right: 10px;
}

.basket-image {
    border-radius: 5px;
}

.eventInfo-div {
    width: 350px;
    padding: 10px;

}

.eventTitle {
    margin-bottom: 15px;
}

.eventCount-div,
.eventPrice-div,
.removeEvent-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventCount-div {
    width: 100px;
}

.eventPrice-div,
.removeEvent-div {
    width: 75px;
}

.basketAmount-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 30px;
    margin-bottom: 30px;
}

.basketAmount {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}