.main-div:hover {
    transition: transform 0.2s steps(10, end);
    transform: scale(1.1);
}

.menu-item:hover {
    transition: transform 0.2s steps(10, end);
    transform: scale(1.03);
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 150px;
}

.image {
    border-radius: 20px;
    margin-bottom: 15px;
}

.image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 15px;
}

.detail-div {
    width: 100%;
    margin-left: 20px;
    height: 750px;
    display: flex;
    flex-direction: column;
}

.detail,
.title-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 20px;
    padding: 15px 25px;
    margin-bottom: 15px;
}

h1,
h2,
p,
span {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.price {
    font-size: xx-large;
}

.category,
.location,
.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.detail-text {
    font-size: 17px;
    line-height: 1.4;
}

.buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    width: 35%;
}

.count-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
}

.ticket-div {
    margin-top: "25px";
    display: flex;
    flex-direction: row;
    align-items: center;
}